src/META-INF/wsdl/localhost_8080/SharesBrokeringService/getStocksService.xsd_3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ConverterService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ConverterService/">

<xs:element name="ParseException" nillable="true" type="tns:ParseException"/>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorType" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:int"/>
<xs:element name="unexpectedObject" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>